html, body {
    background-color: #fdeec4;
}

#box {
    width: auto;
    height: auto;
    background: #f5deb3;
    display: flexbox;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

li {
    font-family: sans-serif;
}

